@charset "utf-8";


/**
 * Buttons
 */

input[id^="btn_"] {
  position: relative;
  text-align: center;
  background-color: #efefef;
  font-size: 14px;
  color: #000;
  padding: 0.1em 0.4em;
  border: solid 1px #000;
  border-radius: 3px;
  box-shadow: 0 2.5px 0 #666;
  outline: none;
}

input[id^="btn_"]:hover {
  opacity: 0.7;
}
input[id^="btn_"]:active {
  top: 2.5px;
  box-shadow: none;
}


/**
 * Float window
 */

.float_title {
  width: 350px;
  padding: 15px;
  word-break: break-all;
}

.float_close, .float_data {
  position: relative;
  width: 30px;
  margin: 0px 10px;
}

.float_close:hover, #extr_close:hover {
  background-color: #ff8787;
  border-color: #a64b4b;
}


/**
 * Thumbnails
 */

.thumb {
  position: relative;
}

.thumb_head {
  width: 95%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  background-color: white;
  z-index: 1;
}

.thumb_title {
  margin-left: 5px;
}

.thumb_circos {
  position: absolute;
  top: 20;
  left: 0;
}


/**
 * View data
 */

.view {
  top: 0px;
  left: 400px;
  width: 450px;
  min-width: 450px;
  position: absolute;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
}

div[id^="view_vline"] {
  top: 0px;
  left: 850px;
  height: 490px; /* 270+220 */
  position: absolute;
  width: 5px;
  margin: 0;
  border: solid 1px #ebebeb;
  padding: 0;
  cursor: w-resize;
  background-color: transparent;
  visibility: hidden;
  background-color: #ebebeb;
  opacity: 50%;
}
.view_vline_cursor {
 cursor: default;
}
#view_modal_window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  cursor: w-resize;
}

.view_area_common {
  border: solid 1px black;
}
.view_area_source {
  height: 270px;  /* 190+80 */
  border-bottom: none;
}
.view_area_target {
  height: 220px;  /* 190+30 */
  border-top: none;
}

input[id^="view_cb"] {
  margin-right: 1px;
}

.view_hr {
  margin: 0;
  border: none;
  background-color: black;
  color: black;
  height: 1px;
}

.view_data_common {
  position: relative;
  overflow: scroll;
  height: 190px;  /* 20*9(lines)+10(border) */
  padding 3px;
}
.view_data_common ul {
  list-style:none;
  margin-left 0;
  padding-inline-start: 0;
}
.view_data_common ul li {
  padding-left 0;
  height: 20px;
  white-space: nowrap;
}
.view_data_common ul li.view_comment {
  color: #2966d4;
}

/* normal */
.view_autoscroll {
  display: inline-block;
  width: 120px;
  height: 24px;
}
.view_autoscroll input {
  display: none;
}
.view_autoscroll label {
  display: block;
  padding-left: 1px;
  box-sizing: border-box;
  border: 2px solid #9f9b9b;
  line-height: 22px;
}
/* input off */
.view_autoscroll label span:after{
  content: "AutoScroll OFF";
  padding-left: 8px;
  color: #9f9b9b;
}
/* input on */
.view_autoscroll input:checked + label {
  border-color: #209a42;
}
.view_autoscroll input:checked + label span:after{
  content: "AutoScroll ON";
  padding-left: 8px;
  color: #209a42;
}


/**
 * Extraction
 */

#extr_frame {
  position: absolute;
  visibility: hidden;
  border: solid 2px gray;
  font 12px;
  border-radius: 0.3em;
  width: 585px;  /* 580+5(fine tuning) */
  height: 495px; /* 400+30(header)+30(save...)+30(chr...)+5(fine tuning) */
  background-color: white;
  border-color: rgb(211, 211, 211);
  margin: 0;
  padding: 0;
  opacity: 1.0;
}

/* 1 line */
#extr_title {
  width: 520px;
  height: 30px;
  background-color: rgb(211, 211, 211);
  font-size 10px;
  margin: 0;
  padding: 5px 10px;
}
#extr_close {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
/* #extr_close:hover is defined above */
#extr_handle {
  position: relative;
  width: 520px;
  height: 30px;
  top: -90px; /* title bar(30) + save/clear buttons(30) + extraction textarea(30) */
  left: 0px;
  cursor: move;
}

/* 2 line */
#extr_save {
  width: 60px;
  height: 30px;
}
#extr_clear {
  width: 60px;
  height: 30px;
}

/* 3 line */
/* 50*2+90*4+60+30=550 */
.extr_chr {
  width: 50px;
  height: 30px;
  margin 0;
  padding 0;
}
.extr_breakpoint {
  width: 90px;
  height: 30px;
  margin 0;
  padding 0;
}
#extr_extract {
  width: 70px;
  height: 30px;
  margin 0;
  padding 0;
}
#extr_hyphen {
  width: 40px;
  height: 30px;
  background-color: white;
  border-width: 0px;
  width: 2em;
  cursor: default;
}

/* 4 lines or more */
#extr_output {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 580px;
  overflow: scroll;
  height: 400px;
  white-space: nowrap;
}
#extr_output ul {
  list-style:none;
  margin: 0;
  padding-left: 2px;
}
